<html>
	<title> Node Modules </title>
	<head>
		<script src= "js/jquery-2.1.1.min.js"></script>
		<script src="js/javascriptfile.js"></script>
		<link rel="stylesheet" href="/css/bootstrap.css" type="text/css"
          charset="utf-8"/>
        <link rel="stylesheet" href="/css/bootstrap-theme.css" type="text/css"
          charset="utf-8"/>
	</head>
	<body>
		<div class='panel panel-success'>
			<div class='panel-heading'><h1>Node Modules</h1></div>
			<div class='panel-body'>
				<div id= 'div1'>
					<form role='form' id='form1'>
						<div class='form-group'>
							<label> Enter Module Name </label>
							<input class='form-control' id="input" type='text', name='input' ,placeholder = 'input'>
						</div>
						<button class='btn btn-success' id="search" type='button', name='button1'> Search</button>
						<button class='btn btn-success' id="save" type='button', name='button2'> Save</button>	
						<button class='btn btn-success pull-right' id="database" type='button' name='button3'>Search Database</button>
					</form>
				</div>
				<div class='row-fluid' id='div2' style='float:left; width:48%'>
				</div>
				<div class='row-fluid' id='db' style='float:right; width:48%;'>
				</div>
			</div>
		</div> 
	</body>
</html>