<script src= "js/jquery-2.1.1.min.js"></script>
<script src="js/javascriptfile.js"></script>

<html>
	<title> Node Modules </title>
	<body>
		
		<h1> Node Modules </h1>
		
		<div id= 'div1'>
			<form id='form1' name = 'form1', method = 'post', action = '/')>
				<input id="input" type='text', name='input' ,placeholder = 'input'>
				<button id="search" type='button', name='button1'> Search</button>
				<button id="save" type='button', name='button2'> Save</button>	
				<button id="database" type='button' name='button3'>Search Database</button>
			</form>
		</div>
		<div id='div2' style='float:left; width:50%'>
		</div>
		
		<div id='db' style='float:right; width:50%;'>
		</div>
		
	</body>
</html>